<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <h1 align="center">Deteccion de logos</h1>
  
<ion-button expand="full"><input (change)="readDataUrl($event)"
  #fileInput
  type="file"
  id="fileInput"
  name="file"
  
/></ion-button>

<ion-card>
  <ion-card-header>
    <ion-card-title>Imagen Cargada</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    
    <canvas #canvasInput id="canvasInput" style="max-width: 100%;height: auto;width: auto;"></canvas>

  </ion-card-content>
</ion-card>


<ion-card>
  
    <canvas #canvasOutput id="canvasOutput" style="max-width: 100%;height: auto;width: auto;"></canvas>
  
</ion-card>
<ion-progress-bar color="primary" [value]="porcentaje"></ion-progress-bar>
  <ion-button expand="full" id="tryIt" (click)="detectLogo()" >Detectar</ion-button>



</ion-content>
